trigger:
- master 
pr:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
jobs:
  - job: "LinuxDockerBuild"
    displayName: "Docker build - release"
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: docker build -t seahorn/verify-c-common:ci docker/verify-c-common.Dockerfile .
      - script: docker run -i seahorn/verify-c-common:ci /bin/bash -c "cd build && cmake --build . --target test"
